= simple_form_for(@ranking) do |f|
  = f.error_notification
  .row-fluid
    .span6
      %h3 What did you think?
      .row-fluid
        .span2
          = f.label :overall, class: 'score'
        .span10
          .slider
          = f.hidden_field :overall
      - Ranking::TASTES.each do |taste|
        .row-fluid
          .span2
            = f.label taste, class: 'score'
          .span10
            .slider
            = hidden_field_tag "ranking[data][#{taste}]"
    .span6
      %h3 What are you ranking?
      = f.label "Search by Coffee"
      = text_field_tag :nada, '', id: 'roaster_autocomplete'
      = f.input :coffee_type_id, as: :hidden
      = link_to "Or Create a new coffee", new_coffee_type_path
      = f.label :brew_method
      = f.select :brew_method, Ranking::BREW_METHODS
      = f.input :notes, as: :text, input_html: { class: 'text', rows: 7 }, label: 'Some notes? (for your eyes only)'

  .form-actions
    = f.button :submit
