%h1 Roasters

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th # Coffees
    %th Average Rating

  - @roasters.each do |roaster|
    %tr
      %td
        = link_to roaster.name, roaster
        (#{link_to 'edit', edit_roaster_path(roaster)})

      %td= pluralize roaster.coffee_types.count, 'coffee'
      %td= roaster.average_rating

%br

= link_to 'New Roaster', new_roaster_path
