= simple_form_for(@coffee_type) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :location, label: 'Location of Origin'
    = f.input :description, as: :text
    = collection_select :coffee_type, :roaster_id, Roaster.all, :id, :name

  .form-actions
    = f.button :submit
