%p#notice= notice

%h1 #{@coffee_type.name} by #{link_to @coffee_type.roaster.name, @coffee_type.roaster}

%img{src: "#{@coffee_type.maps_url}"}

= link_to 'Edit', edit_coffee_type_path(@coffee_type)
\|
= link_to 'Back', coffee_types_path
